.bgimg-1 {
  background-image: url("img_parallax.jpg");
  min-height: 100%;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.scrollbutton {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

h3 {
  text-align: center;
  font-size: xx-large;
  letter-spacing: 8px;
}

p {
  display: block;
  margin: 2em 1em 2em 1em;
  color: darkgray;
}

.bgimg-2 {
  background-image: url("img_parallax2.jpg");
  min-height: 100%;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption-1 {
  color: #fff;
  padding: 18px;
  font-size: 35px;
  letter-spacing: 25px;
}

.less {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 100%;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
